.wr_main_slider
	.prev-slide
	.next-slide
	.main_slider.owl-carousel
		.item(data-slide="1" style="background-image: url('static/uploads/1.png');")
		.item(data-slide="2" style="background-image: url('static/uploads/2.png');")
		.item(data-slide="3" style="background-image: url('static/uploads/3.png');")

div(style="display:none;")
	.modal.mainModal
		.close
		.prev-slide
		.next-slide
		.mainSliderModal.owl-carousel
			.item
				img(src="static/uploads/1.png" alt="photo")
			.item
				img(src="static/uploads/2.png" alt="photo")
			.item
				img(src="static/uploads/3.png" alt="photo")