
@media only screen and (max-width : 1200px) {}

@media only screen and (max-width : 992px) {}

@media only screen and (max-width : 768px) {
	.btn-menu {
		display: block;
	}
	.hide-menu {
		display: none;
	}
	.show-menu {
		display: block;
	}
}

@media only screen and (max-width : 480px) {}